* {
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
.principal-container {
  position: static;
  height: 100%;
}
.background-image {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: top;
  z-index: -1;
}

/* HOME */

.photographer-profile-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  color: white;
  overflow: hidden;
}
.photographer-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 20%;
}
.photographer-profile-wrapper {
  position: relative;
  padding: 4px;
  border-radius: 20px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  width: 50%;
  height: 80%;
}
.photographer-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(25, 0, 45, 0.5);
  width: 100%;
  height: 100%;
  align-items: start;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}
.photographer-data-container {
  height: 100%;
  width: 100%;
  padding: 10%;
}
.photo-profile {
  height: 70%;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 20px;
}
.photographer-data {
  color: white;
  height: 30%;
  width: 100%;
  border-radius: 10px;
  margin: 0%;
  margin-top: 5%;
}
.photographer-name {
  font-family: "Playfair Display", serif;
  font-size: 110%;
  font-weight: 900;
  text-align: left;
  margin: 0%;
  letter-spacing: 1px;
  transform: translate(0px, -4px);
}
.photographer-data p {
  font-family: "Inter", sans-serif;
  margin: 0%;
  text-align: left;
  font-size: 0.85rem;
  line-height: 1.6;
  opacity: 0.9;
}
.photographer-description {
  position: relative;
  margin: 0%;
  width: 100%;
  height: 100%;
}
.description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.5rem;
  padding: 4rem;
  max-width: 600px;
  color: white;
  text-align: left;
}
.section-title {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Playfair Display", serif;
  margin: 0%;
}
.description-text {
  font-size: 1rem;
  line-height: 1.6;
  font-family: "Inter", sans-serif;
  opacity: 0.9;
}
.cta-container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.btn {
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 12px;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: center;
  backdrop-filter: blur(4px);
}
.btn-primary {
  background-color: #e13278; 
  color: white;
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  font-size: 1rem;
  text-decoration: none;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  transition: background 0.3s ease;
}
.btn-primary:hover {
  background-color: #c12866; 
}
.btn-secondary {
  border: 2px solid #e13278;
  color: #e13278;
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  font-size: 1rem;
  text-decoration: none;
  transition: background 0.3s ease;
}
.btn-secondary:hover {
  background-color: #ffe6f0; 
}

/* Next sections Container */

.content-container {
  display: grid;
  grid-template-columns: 15% auto 15%;
}

/* GALLERY */

.gallery-container {
  width: 100%;
  height: auto;
  display: grid;
  grid-column: 2;
  gap: 2px;
}

.best-work-title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 10px 20px; 
  margin: 20px auto; 
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.5rem; 
  font-weight: 300; 
  color: #000000; 
  text-transform: uppercase; 
  letter-spacing: 1px; 
  background-color: #ccccccac ; 
  border: 1px solid rgba(255, 255, 255, 0.2); 
  border-radius: 5px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); 
  text-align: center;
  z-index: 2;
}

.gallery-container img {
  display: block;
}
.photo-container {
  display: flex;
  width: 100%;
  overflow: hidden;
  position: relative;
  border: 5px solid #CCCCCC;
  box-sizing: border-box;
}
.photo-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.8s ease;
}
.photo-container:hover img {
  transform: scale(1.2);
}
.photo-container1 {
  display: flex;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}
.photo-1 {
  max-width: 100%;
  height: auto;
  aspect-ratio: 1380 / 914;
}
.line1-gallery {
  display: grid;
  grid-template-columns: calc(50% - 1px) calc(50% - 1px);
  gap: 2px;
}
.photo-container2,
.photo-container3 {
  width: 100%;
}
.photo-2 {
  aspect-ratio: 740 / 987;
}
.photo-3 {
  aspect-ratio: 740 / 987;
}
.photo-container4 {
  width: 100%;
}
.photo-4 {
  aspect-ratio: 1380 / 920;
}
.photo-container5 {
  width: 100%;
}
.photo-5 {
  aspect-ratio: 1800 / 1013;
}
.photo-container6 {
  width: 100%;
}
.photo-6 {
  aspect-ratio: 1380 / 918;
}
.line2-gallery {
  display: grid;
  grid-template-columns: calc(50% - 1px) calc(50% - 1px);
  gap: 2px;
}
.photo-container7,
.photo-container8 {
  width: 100%;
}
.photo-7 {
  aspect-ratio: 740 / 1110;
}
.photo-8 {
  aspect-ratio: 740 / 1110;
}

/* SERVICES */

.services-section {
  grid-column: 2;
  max-width: 100%;
}
.sessions-title {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 35px;
  margin-top: 110px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 8px;
  margin-bottom: 10%;
}
.services-container-general {
  justify-items: center;
}
.services-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
  justify-items: center;
  width: 100%;
  align-items: stretch;
}
.service-box {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  background: #333333;
  width: 90%;
  border: 1px solid #ffffff ;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  padding: 20px;
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
}
.service-box:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}
.package-title {
  position: relative;
  display: flex;
  height: 20%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 50px;
  border: 1px solid #ffffff ;
  border-radius: 10px;
}
.package-title h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  position: relative;
  font-size: larger;
    letter-spacing: 8px;

}
.service-title-bronce {
  color: #CD7F32;
}
.service-title-plata {
  color: silver;
}
.service-title-oro {
  color: gold;
}
.service-box div p {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: smaller;
  width: 90%;
  margin-left: 50px;
  justify-self: center;
  color: white;
}

/* CONTACT FORM */

.form-container {
  display: flex;
  justify-content: center;
  padding: 70px 40px;
  grid-column: 2;
}
.contact-form {
  width: 100%;
  max-width: 450px;
  padding: 30px;
  background: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}
.contact-form h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  margin-bottom: 5px;
  color: #333;
}
.contact-form p {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: smaller;
  color: #666;
  margin-bottom: 15px;
}
.contact-form input,
.contact-form textarea {
  font-family: "Poppins", sans-serif;
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: smaller;
  background-color: white;
  color: #333;
  transition: border 0.3s ease;
}
.contact-form input:focus,
.contact-form textarea:focus {
  font-family: "Poppins", sans-serif;
  border-color: #666;
  outline: none;
}
.form-row {
  display: flex;
  gap: 10px;
}
.form-row input {
  flex: 1;
}
.contact-form button {
  font-family: "Poppins", sans-serif;
  background: #333;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}
.contact-form button:hover {
  background: #555;
  transform: scale(1.03);
}

/* BUTTON WHATSAPP */

.btn-whatsApp {
  font-family: "Poppins", sans-serif;
  position: fixed;
  right: 2%;
  bottom: 4%;
  width: 150px;
  height: 35px;
  color: #fff;
  border: #000000;
  background-color: #25d366;
  border-radius: 5px;
  cursor: pointer;
  z-index: 2;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.btn-whatsApp:hover {
  color: #25d366;
  background-color: #111;
}

/* FOOTER */

footer {
  font-family: "Poppins", sans-serif;
  grid-column: 1 / -1;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  margin: 0px;
  text-align: center;
  background-color: #333333;
  color: white;
  padding: 40px;
}
footer a {
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
}
footer a:hover {
  color: #00a376;
}
footer p {
  font-size: 12px;
  line-height: 1.6;
  margin: 5px 0;
}

@media screen and (max-width: 600px) {
  .content-container {
    display: grid;
    grid-template-columns: 2% 96% 2%;
  }
  .photographer-profile-section {
    flex-direction: column;
    height: auto;
    padding: 2rem 1rem 1rem 1rem;
  }
  .photographer-header {
    flex-direction: column;
    gap: 2rem;
    height: auto;
    z-index: 1;
  }

  .photographer-profile-wrapper {
    position: relative;
    padding: 4px;
    border-radius: 20px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
    width: 87%;
    height: 80%;
  }

  .photographer-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(25, 0, 45, 0.5);
    width: 100%;
    height: 100%;
    align-items: start;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
  }
  .photographer-data-container {
    padding: 0.5rem;
  }
  .photo-profile {
    height: auto;
    aspect-ratio: 1/1;
    max-width: 300px;
    width: 30%;
  }
  .photographer-name {
    text-align: center;
  }

  .photographer-data p {
    font-size: 0.95rem;
    text-align: center;
  }

  .photographer-description {
    margin-top: -30px;
  }
  .description-container {
    padding: 2.5rem 1.5rem;
    align-items: center;
    text-align: center;
    background-color: #fff9fb;
    color: #222;
    border-radius: 2rem 2rem 0 0;
  }

  .section-title {
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
  }

  .description-text {
    font-size: 1rem;
    line-height: 1.6;
  }

  .cta-container {
    justify-content: center;
  }

  .btn,
  .btn-primary,
  .btn-secondary {
    width: 100%;
    text-align: center;
  }
  .sessions-title {
    font-size: 30px;
    text-align: center;
    letter-spacing: 4px;
  }
  .services-container {
    grid-template-columns: 1fr;
  }
  .service-box {
    width: 70%;
    margin-bottom: 20%;
  }
  .form-container {
    padding: 70px 2px
  }
  .contact-form {
    gap: 5px;
  }
  .form-row {
    flex-direction: column;
  }


  @keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(5px); }
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .photographer-header {
    height: 80%;
  }
  .photographer-profile-wrapper {
    width: 75%;
    height: 80%;
  }
  .photographer-name {
    font-size: 2.8vh;
    justify-self: flex-start;
  }
  .description-container {
    height: 80%;
  }
  .photographer-description {
    align-content: center;
  }
  .description-container {
    padding: 2rem;
  }
  .services-container {
    max-height: 100%;
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 1fr;
    gap: 40px;
    align-items: stretch;
  }
  .sessions-title {
    text-align: center;
  }
  .services-container {
    max-height: 100%;
    max-width: 100%;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 40px;
    align-items: stretch;
  }
  .service-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .form-row {
    flex-direction: column;
    gap: 10px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .photo-container:hover img {
    transform: none;
  }
  .service-box:hover {
    transform: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }
}

/* Tablets */

@media (max-width: 1024px) {
  .services-container {
    grid-template-columns: 1fr;
  }

  .photographer-profile {
    flex-direction: column;
  }

  .photographer-name {
    text-align: center;
    margin-left: 0;
    font-size: (2rem, 5vw, 2.5rem);
  }

  .form-row {
    flex-direction: column;
  }
}
