body {
  display: grid;
  grid-template-columns: 15% auto 15%;
}
.principal-container {
  display: grid;
  grid-column: 2;
  height: auto;
}

/* HOME */

.home {
  width: 100%;
  height: 66%;
}
.photographer-name {
  text-align: center;
  font-size: 40px;
}
.photographer-description {
  margin: 100px;
}
.photographer-description > p:nth-child(1) {
  text-align: center;
  font-size: 23px;
}

.photographer-description > p:nth-child(2) {
  text-align: center;
  color: gray;
  font-size: 18px;
}

/* GALLERY */

.gallery-container img {
  display: block;
}
.photo-wrapper {
  margin: 1px;
  gap: 0;
}
.photo-container {
  border: 5px solid gray;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}
img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.photo-container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.photo-1 {
  width: calc(100% + 0.5px);
  height: auto;
  object-fit: cover;
  transition: transform 1.3s ease;
}

.photo-1:hover {
  transform: scale(1.1);
}

.line1-gallery {
  display: grid;
  width: calc(100% + 0.5px);
  grid-template-columns: 50% 50%;
  gap: 1px;
}

.photo-container2,
.photo-container3 {
  display: grid;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.photo-2,
.photo-3 {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1.3s ease;
}

.photo-2:hover,
.photo-3:hover {
  transform: scale(1.1);
}

.photo-container4 {
  width: 100%;
}
.photo-4,
.photo-5 {
  width: calc(100% + 0.5px);
  height: auto;
  transition: transform 1.3s ease;
}
.photo-4:hover,
.photo-5:hover {
  transform: scale(1.1);
}
.photo-container5,
.photo-container6 {
  width: 100%;
}
.photo-6 {
  width: calc(100% + 0.5px);
  height: auto;
  transition: transform 1.3s ease;
}
.photo-6:hover {
  transform: scale(1.1);
}
.line2-gallery {
  width: calc(100% + 0.5px);
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-between;
}
.photo-container7 {
  display: grid;
  grid-column: 1;
  width: 100%;
  height: auto;
}
.photo-7,
.photo-8 {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 1.3s ease;
}
.photo-7:hover,
.photo-8:hover {
  transform: scale(1.1);
}
.photo-container8 {
  display: grid;
  grid-column: 2;
  width: 100%;
  height: auto;
}

/* SERVICES */

.services-section {
  width: 100%;
  height: 100vh;
}
.sessions-title {
  font-size: 35px;
  margin-top: 110px;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #222;
}
.services-container-general {
  justify-items: center;
}
.services-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  height: 50%;
  width: 100%;
  background-color: #fff;
}
.service-box {
  position: relative;
  background: #333;
  height: 100%;
  width: 90%;
  border: 0.5px solid gray;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.service-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
.package-title {
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  height: 20%;
  width: 75%;
  justify-self: center;
  border-radius: 10px;
  padding: 10px;
}
.package-title h1 {
  position: absolute;
  color: white;
  font-size: larger;
  margin: 0%;
  justify-self: anchor-center;
  align-self: anchor-center;
}
.service-box div p {
  width: 90%;
  margin: 20px;
  margin-left: 50px;
  justify-self: center;
  color: white;
}

@media (max-width: 900px) {
  .services-container {
    grid-template-columns: 1fr;
  }
}
